.panel-container {
    width: 191px;
    margin: 0 auto;
    /* height: 32%; */
    background-color: black;
}

.panel {
    display: flex;
    background-color: #c3c3c3;
    color:black;
    height: 100%;
    margin: 2px;
}

.panel-player {
    background-color: red;
}

.panel-enemy {
    background-color: rgb(75, 147, 255);
}

.inner-panel {
    margin: auto;
    width: 92%;
    height: 90%;
    border-radius: 6px;
    background-color: #ffffff8f;
}

.panel-debug {
    color: #fff;
    font-weight: bold;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
}