.panel-container {
    width: 191px;
    margin: 0 auto;
    /* height: 32%; */
    background-color: black;
}

.panel {
    background-color: #c3c3c3;
    color:black;
    height: 100%;
    margin: 2px;
}