@font-face {
  font-family: mmbn;
  src: url(../../globals/Mega-Man-Battle-Network.ttf);
}

.enemy-hp-meter-container {
  display: inline-flex;
  align-self: flex-end;
    color: #fff;
    font-family: mmbn;
    font-size: 19pt;
    font-weight: bold;
    margin-bottom: -45px;;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    -webkit-transform:scale(1,.8);
}