@font-face {
  font-family: mmbn;
  src: url(../../globals/Mega-Man-Battle-Network.ttf);
}

.enemy-hp-meter-container {
    color: #fff;
    font-family: mmbn;
    font-size: 19pt;
    font-weight: bold;
    margin-top: -15px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    -webkit-transform:scale(1,.8);
}

.enemy-hp-meter-container p {
  margin: 0;
}