.status-window-container {
    
    width: 150px;
    height: 50px;
    color: white;
    padding: 3px;
    font-family: mmbn;
    text-align: right;
    font-size: 25pt;
    margin: 5px;
    background: linear-gradient(-40deg, transparent 15px, #171d24 15px);
    overflow: hidden;
}

.status-window {
    width: 100%;
    height: 100%;
    background: #2f3944;
    background: linear-gradient(-40deg, transparent 15px, #2f3944 15px);
    overflow: hidden;
    background-position: -5px -8px;
    background-size: 28em;
}
