@font-face {
    font-family: mmbn;
    src: url(../../globals/Mega-Man-Battle-Network.ttf);
  }

.debugger {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 35%;
    position: absolute;
    right: 0;
    font-family: mmbn;
    font-size: 7pt;
}

.debug {
    padding:5px;
    text-align: left;
}

.debug-player {
    color: #9ae6ff;
}

.debug-enemy {
    color: #ff9a9a;
}