.battle {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.scene-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.player-status {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.window-margin{
}

.--open {
    transition: 0.2s;
    width: 50%;
    animation-fill-mode: forwards;
}

.--close {
    transition: 0.2s;
    width: 0;
    animation-fill-mode: forwards;
}