.battle {
    position: relative;
    width: 100%;
}

.scene-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.player-status {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}