.entity_sprite {
    display: flex;
    justify-content: center;
}

.--standby {
    margin-bottom: -40px;
    transition: 0.2s;
    animation-fill-mode: forwards;
}

.--active {
    margin-bottom: 0px;
    transition: 0.2s;
    animation-fill-mode: forwards;
}